<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Käyttäjät</title>
  </head>
  <body>
    <script>
      function delUser() {
        const userID = document.getElementById('delbyid').value;
        const url = 'http://localhost:3000/admins/delete/' + userID;
        fetch(url, {
          method: 'DELETE',
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data);
            document.getElementById('info').innerHTML = JSON.stringify(data);
          });
      }
      function findall() {
        const url = 'http://localhost:3000/admins/find';
        fetch(url, {
          method: 'GET',
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            console.log(data);
            document.body.innerHTML = JSON.stringify(data);
          });
      }
    </script>
    <div id="info"></div>
    <div>
      <button onclick="findall()"></button>
    </div>
    <div>
      <label for="delbyid">Poista käyttäjä id:llä</label>
      <input type="text" name="delbyid" , id="delbyid" />
      <button onclick="delUser()">Poista</button>
    </div>
    <a href="/">Etusivu</a>
  </body>
</html>
